@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --crask-c-dark: #191813;
  --crask-c-faint: #c9c7b8;
  --crask-c-beige: #b5b3a4;
  --crask-c-tan: #444444;
  --crask-c-white: #ffffff;
  --crask-c-black: #000000;
  --crask-c-groove: #eeede0;
}

.theme-dark {
  --crask-c-dark: #191813;
  --crask-c-faint: #c9c7b8;
  --crask-c-beige: #b5b3a4;
  --crask-c-tan: #444444;
  --crask-c-white: #ffffff;
  --crask-c-black: #000000;
  --crask-c-groove: #eeede0;
}

@font-face {
  font-family: 'GoudyMediaeval';
  src: url('../assets/fonts/GoudyMediaevalRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: black;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.clickable:hover, .clickable:focus {
  color: black;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 5px;
  margin: 10px 0;
  padding: 10px;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to crask sheets */
.crask .item-form {
  font-family: "Roboto", sans-serif;
}
.crask {
  background-image: url(../assets/Cardstock.jpeg);
  background-size: 100%;
  font-size: 16px;
  color: black;
}
.crask img {
  border: 0px;
}
.crask textarea {
  font-family: 'Signika';
  font-size: 16px;
  border: black 0px;
  padding: 5px;
}
.crask .profile-img {
  height: 120px;
  max-width: 120px;
}
.crask .hero-coin {
  height: 64px;
  margin-right: 0px;
  max-width:64px;
}
.crask h1 {
  margin-top: -10px;
}
.crask h1.charname {
  border: none;
  margin: 0px;
}
.crask h1.charname input {
  font-size: 25px;
  font-family: GoudyMediaeval;
  text-align: center;
  background-image: url(../assets/TitleUnderline.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-y: 40px;
  height: 60px !important;
  border: none;
  color: black;
}
.dialog .phase-checkbox:checked::before {
  content: "✘" !important;
  color: red !important;
  position: absolute !important;
  left: 70% !important;
  top: 150% !important;
  transform: translate(-50%, -50%) !important;
  font-size: 42px !important;
  line-height: 16px !important;
}
.dialog .resource-label {
  font-family: 'GoudyMediaeval';
  font-size: 20px;
  text-align: center;
  margin-bottom: -10px;
}
.dialog .sheet-phase-selector{
  background-image: url(../assets/PhaseTrackerOverlay.png);
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: -10px -10px;
  width: 230px;
  height: 45px;
}
.dialog .phase-label {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 38px;
  margin-top: -20px;
}
.dialog .phase-checkbox {
  appearance: none !important;
  width: 16px !important;
  height: 16px !important;
  cursor: pointer !important;
  position: relative !important;
  transition: background-color 0.3s ease !important;
  background: transparent !important;
  --checkbox-size: 30px !important;
}
.dialog .phase-checkbox::before {
  color: transparent !important;
}
.crask .phase-selector {
  font-size: 32px;
  max-width: 64px;
}
.crask .sheet-phase-selector {
  background-image: url(../assets/PhaseTrackerOverlay.png);
  background-size: 140px;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 25px;
}
.crask .phase-checkbox {
  appearance: none !important;
  width: 16px !important;
  height: 16px !important;
  cursor: pointer !important;
  position: relative !important;
  transition: background-color 0.3s ease !important;
  background: transparent !important;
  --checkbox-size: 30px !important;
}
.crask .phase-checkbox:checked::before {
  content: "✘" !important;
  color: red !important;
  line-height: 16px !important;
}
.crask .phase-checkbox::before {
  color: transparent !important;
}
.crask .defense-value {
  background-image: url(../assets/Shield.svg);
  background-size: 46px;
  background-repeat: no-repeat;
  background-position: 50% 0px;
  height: 60px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  max-width: 64px;
}
.crask .origin-select {
  font-family: GoudyMediaeval;
  margin: 0px;
}
.crask .origin-select select {
  cursor: pointer;
}
.crask h2 {
  font-size: 35px;
  font-family: GoudyMediaeval;
  text-align: center;
  margin: 0px;
  margin-top: 10px !important;
  text-shadow: 1px 1px 4px darkgrey;
  color: black;
  border-bottom: 1px solid var(--crask-c-black)
}
.crask.actor .sheet-tabs.tabs {
  gap: 0px;
  border: 0px;
}
.crask.actor .sheet-tabs a {
  background-image: url("../assets/borders/Black/TabBackground.svg");
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 52px;
  font-family: 'GoudyMediaeval';
  font-size: 28px;
  padding: 10px !important;
  color: #666;
}
.crask.actor .sheet-tabs a.active {
  color: black;
  text-shadow: none;
  text-decoration: underline;
}
.crask .sheet-header .header-center-column {
  margin-top: -10px;
}
.crask .sheet-header .flexrow {
  padding: 0px;
  margin-top: 0px;
}
.crask .sheet-body,
.crask .sheet-body .tab,
.crask .sheet-body .tab .editor {
  height: 100%;
}
.crask .tab.biography {
  flex: 1;
}
.crask .tab.biography .editor {
  height: 100%;
}
.crask .tab.description {
  flex: 1;
}
.crask .tab.description .editor {
  height: 100%;
}
.crask .hero-points-label {
  width: 70px;
}
.crask .resource-label {
  font-family: 'GoudyMediaeval';
  font-size: 22px;
  text-align: center;
}
.crask .resource {
  text-align: center;
}
.crask .input-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  text-align: center;
  margin-right: 10px;
  height: 40px;
}
.crask .input-wrapper input:last-of-type {
  margin-right: 0;
}
.crask .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--crask-c-groove);
  font-weight: bold;
}
.crask .effects-header > * {
  font-size: 14px;
  text-align: center;
}
.crask .effects-header .effect-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.crask .effects-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: black;
}
.crask .effects-list .effect-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.crask .effects-list .effect-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.crask .effects-list .effect-name h3, .crask .effects-list .effect-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.crask .effects-list .effect-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.crask .effects-list .effect-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.crask .effects-list .effect {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid var(--crask-c-faint);
}
.crask .effects-list .effect:last-child {
  border-bottom: none;
}
.crask .effects-list .effect .effect-name {
  color: black;
}
.crask .effects-list .effect .effect-name .effect-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.crask .effects-list .effect-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.crask .effects-list .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--crask-c-groove);
  font-weight: bold;
}
.crask .effects-list .effects-header > * {
  font-size: 12px;
  text-align: center;
}
.crask .effects-list .effects-header .effect-name {
  padding-left: 5px;
  text-align: left;
}
.crask .effect-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.crask .effects .item .effect-source,
.crask .effects .item .effect-duration,
.crask .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.crask .effects .item .effect-controls {
  border: none;
}
.crask .skill-target {
  font-size: 40px;
}
.crask .reward-value {
  font-size: 50px;
}
.crask .item-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2px;
}
.crask .zero-uses {
  color: darkorange;
}
.crask .damaged {
  color: red;
}
.crask .tab-list {
  padding: 0px;
}
.crask .tab-list .item {
  width: 300px;
  height: 100px;
  padding: 15px 10px;
}
.crask .tab-list .item-name {
  margin-bottom: 2px;
  font-weight: bold;
}
.crask .tab-list .item-image {
  max-width: 40px;
}
.crask .tab-list .item-description {
  font-size: smaller;
  font-style: italic;
  height: 40px;
  overflow: hidden;
  margin-top: -11px;
}
.crask .tab-list .line3 {
  height: 57px;
}
.crask .tab-list .small-control {
  max-width: 15px;
  margin-right: 5px;
}
.crask .tab-list .left-simple {
  max-width: 45px;
  align-items: center;
  margin-right: 5px;
}
.crask .item.flaw {
  background-image: url("../assets/borders/Black/FlawBorder.svg");
  background-size: 300px 100px;
}
.crask .item.equipment {
  background-image: url("../assets/borders/Black/EquipmentBorder.svg");
  background-size: 300px 100px;
}
.crask .item.smallitem {
  background-image: url(../assets/borders/Black/SmallItemBorder.svg);
  background-size: 150px 100px;
  padding: 10px;
  width: 150px;
  height: 100px;
}
.crask .item.skill {
  background-image: url("../assets/borders/Black/SkillBorder.svg");
  background-size: 300px 100px;
}
.crask .item.spell {
  background-image: url("../assets/borders/Black/SpellBorder.svg");
  background-size: 300px 100px;
}
.crask .item.reward {
  background-image: url("../assets/borders/Black/RewardBorder.svg");
  background-size: 300px 100px;
  padding: 0px 20px;
}
.crask .fixoverflow {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */  
}
.crask .fixoverflow::-webkit-scrollbar {
  display: none;
}
.crask .enemy-stats {
  max-width: 154px;
  text-align: center;
  margin-right: 15px;
  padding-right: 20px;
  border-right: 2px solid black;
}
.crask .enemy-stats input {
  margin-bottom: 10px;
}
.message-sender {
  font-size: 30px;
  color: black;
  font-family: GoudyMediaeval;
  padding: 6px 0px;
}
