<label class="resource-label">Select Combat Phase</label>
<div class="resource-content sheet-phase-selector flexrow">
    <label class="phase-label">
        <input type="radio" name="phase" class="phase-checkbox" value="1" checked>
    </label>
    <label class="phase-label">
        <input type="radio" name="phase" class="phase-checkbox" value="2">
    </label>
    <label class="phase-label">
        <input type="radio" name="phase" class="phase-checkbox" value="3">
    </label>
    <label class="phase-label">
        <input type="radio" name="phase" class="phase-checkbox" value="4">
    </label>
    <label class="phase-label">
        <input type="radio" name="phase" class="phase-checkbox" value="5">
    </label>
</div>